body {
    background-color: whitesmoke;
}

.container {
    display: flex;
}

#update {
    margin-left: 45%;
    background-color: black;
    color: blanchedalmond;
    border: thin;
}

.container .form-addStudent .form-item {
    margin: 8px 0;
}

input[type="text"], input[type="number"] {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid wheat;
    background-color: whitesmoke;
    opacity: 0.6;
}

input[type="button"] {
    background-color: black;
    color: blanchedalmond;
    border: thin;
}

.container .form-addStudent .form-item label {
    font-family: 'Courier New', Courier, monospace;
}

.listOfStudents li {
    margin: 8px 0;
    font-family: 'Courier New', Courier, monospace;
}

input.error {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid palevioletred;
    background-color: whitesmoke;
    opacity: 0.6;
}

input.success {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid greenyellow;
    background-color: whitesmoke;
    opacity: 0.6;
}

.msg-error {
    display: block;
    width: 100px;
    height: 40px;
    background-color: red;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 8px;
    margin: 10px 0;
}